* {
    box-sizing: border-box;
}

.carousel {
    position: relative;
    .carousel-items {
        overflow: scroll;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;

        -ms-overflow-style: none;
        &::-webkit-scrollbar {
            display: none;
        }

        &.vertical {
            flex-direction: row;

            .carousel-item:not(:last-child) {
                margin-right: 0;
                margin-bottom: 20px;
            }
        }

        .carousel-item {
            width: 100%;
            border: 1px solid black;
            &:not(:last-child) {
                margin-bottom: 0;
                margin-right: 20px;
            }
        }
    }

    .tracker {
        margin-left: auto;
        margin-right: auto;
        width: 200px;
        height: 30px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;

        .dot {
            width: 10px;
            height: 10px;
            border: 1px solid black;
            margin: 7px;
            cursor: pointer;
            transition: all ease-in-out 0.15s;
            border-radius: 50px;
            &.active {
                transform: scale(1.5);
                background-color: black;
            }
        }
    }
}